<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <form action="{% url 'submit' %}" method="POST">
    {% csrf_token %}
        <label for="Name">Enter your name</label>
        <input type="text" name="name" >
        <label for="message">Enter your message</label>
        <textarea name="message" id="message"></textarea>
        <button type="submit">Submit</button>
    </form>
</body>
</html>